@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-page-background: #ffffff;
  --color-text-primary: #000000;
  --color-header-bg: #f0f0f0;
  --color-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --color-page-background: #18191a;
  --color-text-primary: #f0f2f5;
  --color-header-bg: #333333;
  --color-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-page-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
